hr.hr1 {
	border-top: 3px double black;
}

hr.hr2 {
    border-top: 1px dashed black
}

hr.hr3 {
    border-top: 1px dotted black;
}

hr.hr4 {
    border-top: 1px dashed black;
    border-bottom: 1px dashed #fff;
}

hr.hr5 {
    border-top: 1px dotted black;
	border-bottom: 1px dotted #fff;
}

hr.hr6 {
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px black inset;
}

hr.hr7 {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, black, #f0f0f0);
}

hr.hr8 {
	border-top: 4px double black;
	text-align: center;
}
hr.hr8:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: black;
	font-size: 18px;
}