hr.hr1 {
	border-top: 3px double black;
}

hr.hr2 {
    border-top: 1px dashed black
}

hr.hr3 {
    border-top: 1px dotted black;
}

hr.hr4 {
    border-top: 1px dashed black;
    border-bottom: 1px dashed #fff;
}

hr.hr5 {
    border-top: 1px dotted black;
	border-bottom: 1px dotted #fff;
}

hr.hr6 {
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px black inset;
}